
$white: #ffffff;
$black: #212124;
$color-primary: #326273;

body, html {
	height: 100vh;
}

body {
	color: $black;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
}

h1 {
	font-size: 1.5em;
	font-weight: 500;
}

h2 {
	font-size: 1.5em;
	font-weight: 400;
}

h3 {
	font-size: 1em;
	font-weight: 300;
}

/* Header
-------------------------------*/
.header {
	border-bottom: 1px solid #eee;

	a {
		color: $black;
		display: inline-block;
		padding: 0.75em 0;
	}
}


/* Main content
-------------------------------*/
.main-content {
	padding: 3em 0;
}

.intro {
	padding-top: 2em;
	text-align: left;
}

/* Profile
-------------------------------*/
.profile {
	max-width: 32em;
	padding-left: 0;
	padding-right: 0;
	border: 1px solid #eee;
	border-top: 6px solid $color-primary;
}

.profile-image {
	display: inline-block;
	width: 12em;
  height: 12em;
  margin: 1.25em 0;
  border-radius: 100%;
}

.profile-stats {
	padding: 0;
	margin: 1em 0;
  list-style: none;

	li {
		padding: 1.5em 0;

		&:nth-child(even) {
			background: #eee;
		}
	}
}

/* Form elements
-------------------------------*/
form {
	margin: 2em 0;
	width: 100%;
	max-width: 22em;
}

label {
	font-size: 1.25em;
	font-weight: 700;
}


/* Media queries - Desktop
-------------------------------*/
@media screen and(min-width: 768px) {
	
}



