/* line 6, ../sass/_base.scss */
body, html {
  height: 100vh;
}

/* line 10, ../sass/_base.scss */
body {
  color: #212124;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

/* line 18, ../sass/_base.scss */
h1 {
  font-size: 1.5em;
  font-weight: 500;
}

/* line 23, ../sass/_base.scss */
h2 {
  font-size: 1.5em;
  font-weight: 400;
}

/* line 28, ../sass/_base.scss */
h3 {
  font-size: 1em;
  font-weight: 300;
}

/* Header
-------------------------------*/
/* line 35, ../sass/_base.scss */
.header {
  border-bottom: 1px solid #eee;
}
/* line 38, ../sass/_base.scss */
.header a {
  color: #212124;
  display: inline-block;
  padding: 0.75em 0;
}

/* Main content
-------------------------------*/
/* line 48, ../sass/_base.scss */
.main-content {
  padding: 3em 0;
}

/* line 52, ../sass/_base.scss */
.intro {
  padding-top: 2em;
  text-align: left;
}

/* Profile
-------------------------------*/
/* line 59, ../sass/_base.scss */
.profile {
  max-width: 32em;
  padding-left: 0;
  padding-right: 0;
  border: 1px solid #eee;
  border-top: 6px solid #326273;
}

/* line 67, ../sass/_base.scss */
.profile-image {
  display: inline-block;
  width: 12em;
  height: 12em;
  margin: 1.25em 0;
  border-radius: 100%;
}

/* line 75, ../sass/_base.scss */
.profile-stats {
  padding: 0;
  margin: 1em 0;
  list-style: none;
}
/* line 80, ../sass/_base.scss */
.profile-stats li {
  padding: 1.5em 0;
}
/* line 83, ../sass/_base.scss */
.profile-stats li:nth-child(even) {
  background: #eee;
}

/* Form elements
-------------------------------*/
/* line 91, ../sass/_base.scss */
form {
  margin: 2em 0;
  width: 100%;
  max-width: 22em;
}

/* line 97, ../sass/_base.scss */
label {
  font-size: 1.25em;
  font-weight: 700;
}

/* Media queries - Desktop
-------------------------------*/
